<div class="row d-md-block" data-aos="zoom-in">
  <div class="title col-6 col-sm-6 saturday active">
    SÁBADO
  </div>
  <div class="title col-6 col-sm-6 text-right sunday">
    DOMINGO
  </div>
</div>

<div class="row mb-3 pb-2" data-aos="zoom-in">
  <div class="col-md-6 col-lg-6 day-1">
    <div class="row pt-4 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>07:30 às 08:20</strong>
        <div class="bar d-block d-md-none"></div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Credenciamento
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>08:20 às 08:40</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Abertura e Apresentação Oficial<br>do Projeto ALIMENTE
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>08:40 às 10:50</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Palestra <strong>NINA TEICHOLZ</strong>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>11:00 às 12:30</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name -intervalo">
        Intervalo para Almoço
        <div class="help-text">
          com telões no local para<br>acompanhamento dos jogos da Copa
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>12:40 às 14:00</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        1º Painel Low Carb Made in Brasil
        <div class="help-text">
          com ícones do cenário de saúde nacional
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>14:20 às 16:20</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Palestra <strong>DR. ASEEM MALHOTRA</strong>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>16:20 às 16:40</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name -intervalo">
        Intervalo
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>16:40 às 18:00</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        2º Painel Low Carb Made in Brasil
        <div class="help-text">
          com ícones do cenário de saúde nacional
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>18:00 às 18:30</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Encerramento Primeiro Dia
        <div class="help-text">
          rodada de sorteios para os presentes
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 day-2 d-none">
    <div class="row pt-4 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>07:00 às 08:00</strong>
        <div class="bar d-block d-md-none"></div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Credenciamento
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>08:00 às 08:20</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Abertura e Balanço do Primeiro Dia
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>08:30 às 10:30</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Palestra <strong>GARY TAUBES</strong>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>10:30 às 10:50</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name -intervalo">
        Mini Intervalo
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>10:50 às 11:50</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        1º Painel Low Carb Made In Brasil
        <div class="help-text">
          com ícones do cenário de saúde nacional
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>11:50 às 13:30</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name -intervalo">
        Intervalo para Almoço
        <div class="help-text">
          com telões no local para<br>acompanhamento dos jogos da Copa
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>13:40 às 14:40</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Palestra <strong>ERIK NEVES</strong> e <strong>PATRICIA AYRES</strong>
        <div class="help-text">
          Tema: Cetogênica
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>15:00 às 16:30</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Palestra <strong>JOSÉ CARLOS SOUTO</strong>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>16:30 às 16:50</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name -intervalo">
        Mini Intervalo
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>16:50 às 18:20</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Painel Around The World Of Low Carb
        <div class="help-text">
          com ícones do cenário de saúde nacional<br>e os palestrantes internacionais
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 hour">
        <strong>18:20</strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-6 col-lg-9 name">
        Encerramento
        <div class="help-text">
          rodada de sorteios para os presentes,<br>agradecimentos e novidades ALIMENTE para 2019
        </div>
      </div>
    </div>
  </div>
</div>

<a class="button-outline btn-block text-center show-about-schedule">MOSTRAR/ESCONDER INFORMAÇÕES SOBRE HORÁRIOS</a>

<div class="container px-0 pt-4 about-schedule d-none">
  <div class="row">
    <div class="col-md-6">
      Em respeito aos profissionais palestrantes e público presente, faz-se necessário o cumprimento de alguns requisitos para
      o perfeito andamento de nosso evento. Confira.
      <br>
      <br>
      <ul>
        <li>
          O evento começa pontualmente às 08h20 (sábado) e 08h (domingo), com tolerância máxima de 15 minutos para entrada no salão
          de convenções. Após esse limite os retardatários deverão esperar no foyer até o primeiro intervalo, quando será permitida
          a entrada para acompanhamento do restante do evento.
        </li>
      </ul>
      Aproveitem o horário estipulado para o credenciamento e cheguem com antecedência para evitar transtornos.
      <br>
      <br> O hall de entrada abre ao público no mesmo horário de início do credenciamento e as portas de acesso ao salão às 8h.
      <br>
      <br> A indicação acima vale para abertura, retorno dos intervalos e almoço.
      <br>
      <br>
      <ul>
        <li>
          Cada tipo de ingresso dá acesso a áreas pré-determinadas. Confira os locais de sua seleção com o staff presente no dia do
          evento;
        </li>
      </ul>
    </div>
  
    <div class="col-md-6">
      Os ingressos VIP 1 e 2, GOLD 1 e 2, possuem área exclusiva e com acesso restrito;
      <br>
      <br>
      <ul>
        <li>
          A acomodação nos setores gerais é por ordem de chegada, sem a possibilidade de marcação de lugar na plateia;
        </li>
  
        <li>
          Não será permitida a filmagem de palestras;
        </li>
  
        <li>
          Pede-se discernimento quanto ao silêncio durante as apresentações, dispensando comentários excessivos e conversas paralelas.
          Se for extremamente necessário, que seja breve;
        </li>
  
        <li>
          Máquinas fotográficas não são permitidas e os aparelhos celulares devem ser desligados ou colocado em modo silencioso/vibratório;
        </li>
  
        <li>
          Os mini intervalos servem descanso entre as palestras, sendo permitida a saída rápida para um cafezinho no saguão do local,
          uso de banheiro e afins. Entretanto, é preciso estar atento ao aviso horário de retorno para continuidade do evento.
        </li>
  
        <li>
          Não é permitida a entrada de comida no salão, excetuando-se pequenos snacks, água e café. E também não é permitido fumar.
        </li>
  
        <li>
          Prestigiar os palestrantes é satisfatório e bater palmas uma das maneiras mais usuais para isso. Porém, é preciso cuidado
          para que não aconteça durante as apresentações e sim ao término de cada palestra, ou quando o profissional fizer
          menção de que finalizou sua participação, dando espaço para todos os aplausos.
        </li>
      </ul>
    </div>
  </div>
</div>