<section class="seat-map">
  <div class="title">
    <h1 data-aos="zoom-in">
      <%= t('mapa_de_assentos.titulo') %>
    </h1>
  </div>

  <div class="content">
    <div class="container">
      <%= image_tag "assentos.png", width: "100%", height: "auto", data: { 'aos': 'zoom-in' } %>
    </div>
  </div>
</section>