<section class="speakers">
  <div class="title">
    <h1 data-aos="zoom-in">
      palestrantes internacionais
    </h1>
  </div>

  <div class="content">
    <div class="container">
      <div class="row speakers-desktop d-none d-md-none d-lg-block">
        <%= render 'speakers_desktop' %>
      </div>

      <div class="speakers-tablet d-none d-md-block d-lg-none">
        <%= render 'speakers_tablet' %>
      </div>

      <div class="speakers-mobile d-block d-md-none">
        <%= render 'speakers_mobile' %>
      </div>
    </div>
  </div>
</section>