<section class="national-speakers">
  <div class="title">
    <h1>
      palestrantes nacionais
    </h1>
  </div>

  <div class="content">
    <div class="container">
      <div class="row speakers-desktop d-none d-md-none d-lg-block">
        <%= render 'national_speakers_desktop' %>
      </div>
    
      <div class="speakers-tablet d-none d-md-block d-lg-none">
        <%= render 'national_speakers_tablet' %>
      </div>
    
      <div class="speakers-mobile d-block d-md-none">
        <%= render 'national_speakers_mobile' %>
      </div>
    </div>

    <%= image_tag "bg-speakers.svg", class: "bg-speakers d-none d-md-block" %>
  </div>
</section>