<div id="carouselMobile" class="carousel slide" data-ride="carousel" data-aos="zoom-in">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-12 speaker">
          <%= image_tag "gary.png", class: "photo" %>
          <div class="name">gary taubes</div>
          <div class="function">jornalista</div>
        
          <div class="mini-cv">
            Jornalista investigativo em ciência e saúde e co-fundador da Iniciativa de Ciência e Nutrição (NuSI.org), sem fins lucrativos,
            é autor dos sucessos
            <em>Good Calories, Bad Calories</em> (2007) e
            <em>The Case Against Sugar</em> (2016), ainda sem tradução para o português, além do icônico
            <em>Por Que Engordamos E O Que Fazer Para Evitar?</em> (2011), lançado no Brasil pela L&PM EDITORES.
          </div>
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-12 speaker">
          <%= image_tag "nina.png", class: "photo" %>
          <div class="name">nina teicholz</div>
          <div class="function">jornalista</div>
      
          <div class="mini-cv">
            Jornalista investigativa e autora do bestseller internacional - e New York Times - ,
            <em>Gordura Sem Medo</em>, lançado no Brasil pela WMF MARTINS FONTES e aclamado pelo The Economist como livro científico
            número #1 de 2014, além de nomeado como melhor livro do ano pelo Wall Street Journal, Forbes, Mother Jones e o Library
            Journal.
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-md-12 speaker">
          <%= image_tag "aseem.png", class: "photo" %>
          <div class="name">aseem malhotra</div>
          <div class="function">cardiologista</div>
  
          <div class="mini-cv">
            Um dos cardiologistas mais influentes da Grã-Bretanha e especialista mundial em prevenção, diagnóstico e tratamento de doenças
            do coração, Dr. Aseem Malhotra é um dos nomes a encabeçar com sucesso a campanha contra o consumo de açúcar em excesso
            e cura da obesidade através da intervenção de saúde pública.
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselMobile" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselMobile" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>