<%= render "layouts/navbar" %>

<div class="refund pt-5 mt-3">
  <div class="title">
    <div class="container">
      <h1 data-aos="fade-right">SOLICITAÇÃO DE PRESENÇA NO PRÉ-EVENTO</h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-6">
          Caroline Guilherme e a equipe do Projeto ALIMENTE, junto com Gary Taubes, Nina Teicholz, Dr. Aseem Malhotra, Dr. José Carlos
          Souto e todo o time de palestrantes nacionais, promove coquetel VIP no dia 13 de julho, num pré-evento exclusivo do 1º Congresso
          Nacional Low Carb.
          <br>
          <br>
          Os ingressos já estão à venda em quantidade limitada e darão acesso ao encontro, degustação de samplers
          low carb e vinhos, além da oportunidade única de ter sua foto com um seleto time de personalidades.
          <br>
          <br>
          Preencha o formulário abaixo para solicitar presença.
          <br>
          <br>

          <form action="https://formspree.io/whcriacao@gmail.com" method="POST">
            <div class="form-group">
              <label for="name">SEU NOME</label>
              <input type="text" name="name" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="email">SEU EMAIL</label>
              <input type="email" name="email" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="address">SEU ENDEREÇO</label>
              <input type="text" name="address" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="job">SUA PROFISSÃO</label>
              <input type="text" name="job" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="cpf">SEU CPF</label>
              <input type="text" name="cpf" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="rg">SEU RG</label>
              <input type="text" name="rg" class="form-control" required>
            </div>
          
            <input type="submit" value="ENVIAR SOLICITAÇÃO">
          </form>
        </div>
      </div>
      <div class="pt-5"></div>
      <a href="/" class="button-outline">VOLTAR PARA O INÍCIO</a>
    </div>

    <%= image_tag "bg-event.svg", class: "bg-refund d-none d-lg-block" %>
    <%= image_tag "bg-refund.svg", class: "bg-refund d-block d-lg-none" %>
  </div>
</div>