<%= render "layouts/navbar" %>

<div class="refund pt-5 mt-3">
  <div class="title">
    <div class="container">
      <h1>POLÍTICA DE REEMBOLSO E TRANSFERÊNCIA DE TITULARIDADE</h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-7">
          Seu ingresso é um produto único e após realizada a compra ficará indisponível para qualquer outra pessoa.
          <br>
          <br>
          A partir do momento da finalização e confirmação da compra, a solicitação de cancelamento pode ser feita em até 7 dias corridos, não podendo
          esse período coincidir com a antecedência de 10 dias do evento.
          <br>
          <br>
          Para iniciar o processo de pedido de reembolso você deve enviar uma solicitação formal, utilizado o mesmo e-mail cadastrado no ato da compra, para o endereço <strong><a href="mailto:contato@eventoalimente.com.br">contato@eventoalimente.com.br</a></strong>.
          <br>
          <br>
          Os ingressos são cancelados e o valor de <strong>50% - e somente esse -</strong> da compra é estornado, descontadas as taxas de serviço, de acordo com
          a forma de pagamento utilizada na compra.
          <br>
          <br>
          Os prazos para o estorno variam de acordo com a data de fechamento da fatura do cartão e das instituições envolvidas, variando, muitas vezes de 15 a 45 dias.
          <br>
          <br>
          Somasse ao disposto acima, a possibilidade de transferência da titularidade do ingresso, sendo necessário para isso contato utilizado o mesmo e-mail cadastrado no ato
          da compra, com os dados do novo detentor de utilização do mesmo.
          <br>
          <br>
          Não é possível o cancelamento de ingressos após a data do evento.
          <br>
          <br>
          <strong>ATENÇÃO:</strong> Os termos de reembolso acima descritos não são aplicáveis aos ingressos adquiridos no período de pré-venda,
          sendo contemplados nesse caso, apenas os pedidos de transferência de titularidade. A pré-venda não é reembolsável!
        </div>
      </div>
    </div>

    <%= image_tag "bg-refund.svg", class: "bg-refund" %>
  </div>
</div>