body {
  font-family: $font-family-body;
  font-weight: 500;

  background-image: image-url('pattern.png');
  background-repeat: repeat;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: $font-family-heading;
  font-size: 35px;
  line-break: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}