.about {
  > .title {
    padding: 2em 0;
    background-color: $laranja-100;
    color: $branco;
  }
  
  > .content {
    position: relative;
    padding-top: 2em;
    padding-bottom: 8em;
    color: $marrom;

    .bg-about {
      width: 670px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  > .team {
    .title {
      padding: 2em 0 2em;
      background-color: $laranja-100;
      color: $branco;
    }

    .body {
      padding-bottom: 2.5em;
      background-color: $marrom;
      
      .colaborator {
        text-align: center;

        .photo {
          width: 100%;
          height: 400px;
          margin-top: -2em;
          background-color: #f8f9fa;
          border: 1px solid #dcdcdc;
        }

        .name {
          padding-top: 1em;
          font-family: $font-family-heading;
          font-size: 25px;
          line-height: 30px;
          letter-spacing: 3px;
          color: $branco;
        }
      }
    }
  }

  > .work {
    padding-bottom: 8em;
    padding-top: 2em;
    position: relative;
    color: $marrom;

    .title {
      padding: 3em 0;
    }

    label, input[type="submit"] {
      font-family: $font-family-heading;
      letter-spacing: 3px;
    }

    .form-control:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .form-control, input[type="submit"] {
      border: 2px solid $marrom;
      border-radius: 0;
      background: none;
      color: $marrom;
    }

    input[type="submit"] {
      margin-top: .5em;
      padding: .8rem 1.2rem;
    }

    .bg-work {
      width: 450px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .button-outline {
    padding: .75rem;

    border: 3px solid $laranja-200;

    font-family: $font-family-heading;
    letter-spacing: 2px;
    color: $laranja-200;

    text-decoration: none;

    transition: all .3s;

    &:hover {
      color: $branco;
      background-color: $laranja-200;
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    .title {
      padding: 1.5em 0;
      text-align: center;
      
      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    .content {
      padding: 0;

      > .container {
        padding: 2em;
      }
    }

    .about-detail-1 {
      padding: 2em 0;
      text-align: right;

      img {
        width: 200px;
        margin-right: -2em;
      }
    }

    .about-detail-2 {
      padding: 2em 0 1em;
      text-align: left;

      img {
        width: 200px;
        margin-left: -2em;
      }
    }

    .team {
      .title {
        padding: 1.5em 0;
      }
    }

    .work {
      padding-top: 0;
      padding-bottom: 11em;

      .container {
        padding: 2em;
      }

      .bg-work {
        width: 340px;
      }
    }

    form {
      padding-top: 2em;
    }
  }
}

@media screen and (min-width: 768px) {
  .about-detail-1, .about-detail-2 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .about {
    > .content {
      padding-bottom: 12em;

      .bg-about {
        width: 480px;
      }
    }

    form {
      padding-top: 2em;
    }
  }
}