section.map-location {
  background-color: $laranja-100;
}

section.producer-and-developer {
  padding: 2em 0;
  background-color: $laranja-100;
  color: $branco;
}

@media screen and (max-width: 767px) {
  section.producer-and-developer {
    text-align: center;

    .developer {
      padding-top: 2em;
    }
  }
}

@media screen and (max-width: 767px) {
  section.location {

  }
}

section.official-agency {
  padding: 3em 0;
  color: $marrom;
  text-align: center;

  .title {
    padding-bottom: 1em;
  }

  .name {
    padding-top: 5em;
  }
}

@media screen and (max-width: 767px) {
  section.official-agency {
    padding: 1.5em 0;

    .title {
      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    .sub-title {
      padding: 0 1em;
    }

    .name {
      padding-top: 1em;
      font-size: 25px;
      letter-spacing: 3px;
    }
  }
}

section.sponsors {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3em 0;
  color: $marrom;

  .title {
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 767px) {
  section.sponsors {
    padding: 1.5em 0 7em;
    position: relative;
    
    text-align: center;

    .title {
      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    .sponsor {
      padding-bottom: 2em;
    }

    .sponsor-detail {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 75%;
    }
  }
}

section.ticket {
  padding: 2em 0 3.5em;
  background-color: $laranja-100;
  color: $branco;
  font-family: $font-family-heading;
  text-align: center;
  text-transform: uppercase;

  > .lot {
    padding: .5rem 0 2rem;

    .title, .bullet, .price {
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 3px;
    }

    .bullet {
      padding: 0 .3rem;
    }
  }

  > .button-outline {
    padding: .75rem;

    border: 3px solid $branco;

    font-size: 28px;
    line-height: 35px;
    letter-spacing: 3px;
    color: $branco;

    text-decoration: none;

    transition: all .3s;

    &:hover {
      color: $laranja-200;
      background-color: $branco;
    }
  }
}

@media screen and (max-width: 991px) {
  margin-top: -.3em;
}
