.navbar {
  height: 65px;
  background-color: $marrom-100;

  transition: opacity 1s ease-in-out;

  .navbar-brand {
    img {
      margin-top: -.8em;
    }
  }

  .nav-item {
    font-family: $font-family-heading;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .navbar-wrapper {
    margin-top: -.6em;
  }

  .time {
    font-family: $font-family-heading;
    color: $branco;
    letter-spacing: 2px;
  }

  .button-outline {
    padding: .25rem .5rem;
    border: 2px solid $amarelo;
    color: $amarelo;
    font-family: $font-family-heading;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.3s;

    &:hover {
      background-color: $amarelo;
      color: $marrom-100;
    }
  }

  .flag {
    margin-top: -.6em;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: .5em 2em 0;

    .menu {
      color: $branco;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-bottom: 0;
  }

  .navbar-collapse {
    padding-left: 5em;
  }

  .nav-item {
    padding: 0 .5em;

    border-bottom: 3px solid $marrom-100;

    &.active {
      border-bottom: 3px solid $branco;
    }
  }

  .nav-link {
    padding-top: 13px;
    padding-bottom: 17px;
  }
}