.refund {
  > .title {
    padding: 2em 0;
    background-color: $laranja-100;
    color: $branco;
  }
  
  > .content {
    position: relative;
    padding-top: 2em;
    padding-bottom: 8em;
    color: $marrom;
  
    a {
      color: $marrom;
    }

    .bg-refund {
      width: 670px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .button-outline {
      padding: .75rem;

      border: 3px solid $laranja-200;

      font-family: $font-family-heading;
      letter-spacing: 2px;
      color: $laranja-200;

      text-decoration: none;

      transition: all .3s;

      &:hover {
        color: $branco;
        background-color: $laranja-200;
      }
    }
  }

  label, input[type="submit"] {
    font-family: $font-family-heading;
    letter-spacing: 3px;
  }

  .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .form-control, input[type="submit"] {
    border: 2px solid $marrom;
    border-radius: 0;
    background: none;
    color: $marrom;
  }

  input[type="submit"] {
    margin-top: .5em;
    padding: .8rem 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .refund {
    .title {
      padding: 1.5em 0;
      text-align: center;
      
      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    .content {
      padding: 0;

      > .container {
        padding: 2em;
        padding-bottom: 8em;
      }

      > .bg-refund {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .refund {
    > .content {
      padding-bottom: 8em;

      .bg-refund {
        width: 480px;
      }
    }
  }
}