section.mandatory {
  padding-bottom: 6em;
  position: relative;
  color: $marrom;
  font-family: $font-family-heading;
  
  > .title {
    padding: 3em 0;
    background-color: $laranja-100;
    color: $branco;
    text-align: center;
  }

  > .description {
    padding-top: 3em;
    padding-bottom: 1em;
    font-family: $font-family-body;
    font-size: 1em;
    text-align: center;
  }
  
  > .content {
    padding-top: 2em;
    padding-bottom: 8em;
    position: relative;
  }

  .box {
    min-height: 565px;
    background-color: initial;
    border: 5px solid $laranja-100;
    text-align: center;

    .icon-wrapper {
      padding: 2em 0;
      background-color: $laranja-100;

      .icon {
        // width: 150px;
        height: auto;
      }
    }

    .title {
      padding: 1em;
      font-family: $font-family-heading;
      font-size: 20px;
    }

    .bar {
      width: 80px;
      height: 5px;
      margin: 0 auto;
      background-color: $laranja-100;
    }

    .description {
      padding: 1.5em;
      font-family: $font-family-body;
    }
  }

  .bg-mandatory {
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 15%;
  }
}

@media screen and (max-width: 767px) {
  section.mandatory {
    padding-bottom: 0;
    
    > .title {
      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    > .description {
      padding: 2em;
    }

    .content {
      padding-top: 0;
      padding-bottom: 0;
    }

    .box {
      height: initial;
      margin-bottom: 2em;
    }
  }
}