section.tickets {
  position: relative;
  padding-bottom: 4em;
  color: $marrom;
  
  .title {
    padding: 3em 0;
    background-color: $laranja-100;
    color: $branco;
  }

  .content {
    padding-top: 3em;
  }

  .title-box {
    border: 3px solid $marrom;
    font-family: $font-family-heading;
    font-size: 26px;
    letter-spacing: 2px;
  }

  .box {
    position: relative;

    &.-pre-venda {
      height: 228px;
    }

    &.-vip {
      height: 250px;
    }

    display: inline-block;

    text-align: center;
    border: 3px solid $laranja-100;

    transition: all .3s;

    .category {
      display: block;
      font-family: $font-family-heading;
      font-size: 26px;
      letter-spacing: 2px;
    }

    .bar {
      display: block;
      width: 72px;
      height: 3px;
      margin: 0 auto;
      background-color: $laranja-100;
    }

    .description {
      display: inline-block;
      font-size: 15px;
      line-height: 21px;
    }

    .buy {
      width: 100%;
      padding: .75em 0 .2em;
      
      position: absolute;
      bottom: 0;
      
      background-color: $laranja-100;
      color: $branco;
      
      font-family: $font-family-heading;
      letter-spacing: 1px;
      
      transition: all .3s;

      a {
        color: $branco;
        text-decoration: none;
      }

      .price {
        font-size: 24px;
        line-height: 20px;

        &.-taxa {
          font-size: 18px;
        }
      }

      .buy-ticket {
        font-size: 20px;
        text-transform: uppercase;
      }
    }

    &.-esgotado {
      border-color: $marrom;

      .bar {
        background-color: $marrom;
      }

      .buy {
        background-color: $marrom;
      }
    }

    &:hover {
      border-color: $laranja-200;

      .buy, .bar {
        background-color: $laranja-200;
      }

      &.-esgotado {
        border-color: $marrom;

        .buy, .bar {
          background-color: $marrom;
        }
      }
    }
  }

  .bg-tickets {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  section.tickets {
    .content {
      padding-top: 1.5em;
    }
    
    .title {
      padding: 1.5em 0;

      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    padding-bottom: 12em;

    .container {
      padding: 0 2em;
    }

    .title {
      padding: 1.5em 0;
    }

    h1 {
      font-size: 25px;
      letter-spacing: 3px;
    }

    .gold, .vip, .estudante, .pre-evento {
      margin-top: 1em;
    }

    .title-box {
      margin-bottom: .5em;
    }

    .box {
      margin-bottom: .75em;

      .buy {
        width: 101%;
        margin-left: -1px;
        bottom: -1px;
      }
    }

    .bg-tickets-mobile {
      position: absolute;
      bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.tickets {
    .title {
      padding: 3rem 0;
    }

    .title-box, .box {
      margin-right: .5em;
    }

    .estudante, .gold, .vip, .pre-evento {
      margin-top: 2em;
    }
    
    .bg-tickets {
      width: 300px;
    }
  }
}

@media screen and (min-width: 992px) {
  section.tickets {
    .title-box, .box {
      margin-right: 1em;
    }

    .estudante, .gold, .vip, .pre-evento {
      margin-top: 2em;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  section.tickets {
    .box {
      &.-pre-venda {
        height: 246px;
      }

      &.-vip {
        height: 276px;
      }
    }

    .bg-tickets {
      width: 500px;
    }
  }
}