section.national-speakers {
  position: relative;
  color: $marrom;
  font-family: $font-family-heading;
  
  .title {
    padding: 3em 0;
    background-color: $laranja-100;
    color: $branco;
    text-align: center;
  }
  
  .content {
    padding-top: 2em;
    padding-bottom: 8em;
    position: relative;

    .bg-speakers {
      width: 400px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .national-speaker {
    text-align: center;
  
    .name {
      padding-top: .5em;
      font-size: 28px;
      letter-spacing: 2px;
    }
    
    .function {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  .bg-national-speaker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  section.national-speakers {
    .title {
      padding: 1.5em 0;

      h1 {
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
    
    .content {
      padding-bottom: 6em;
    }

    .container {
      padding: 0 2em;
    }

    .title {
      padding: 1.5em 0;
    }

    h1 {
      font-size: 25px;
      letter-spacing: 3px;
    }

    .speaker {
      padding-bottom: 1.5em;

      .photo {
        height: auto;
        width: 100%;
      }

      .name {
        font-size: 25px;
        letter-spacing: 1px;
      }
      
      .function {
        font-family: $font-family-body;
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.national-speakers {
    .title {
      padding: 3rem 0;
    }

    .content {
      .bg-speakers {
        width: 350px;
      }
    }
  }
}