section.featured {
  padding: 8em 0;
  text-align: center;
  color: $marrom;
  position: relative;

  .description {
    font-family: $font-family-body;
    font-size: 18px;
  }

  img {
    margin: .25em;
  }
}

@media screen and (max-width: 767px) {
  section.featured {
    .title {
      font-size: 28px;
      line-height: 32px;
    }

    .description {
      font-size: 16px;
    }

    img {
      width: 140px;
      height: 140px;
    }
  }
}