section.home {
  min-height: 100vh;
  position: relative;
  background-image: image-url('bg-home.png');
  background-size: cover;
  
  font-family: $font-family-heading;
  text-align: center;
  text-transform: uppercase;

  color: $marrom;

  .wrapper {
    margin-top: -10em;
  }

  .title {
    padding: .8em 0;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 3px;

    color: $laranja-300;
  }

  .date-location {
    font-family: $font-family-body;
    font-size: 20px;
  }

  .time-wrapper {
    padding-top: 1em;
  }

  .time {
    text-align: center;
    padding: .5rem 0 1rem;
    border: 3px solid $marrom;
    color: $branco;
    background-color: $marrom;
    
    .number {
      margin: 0 auto;
      font-size: 25px;
      text-align: center;
    }
    
    .description {
      font-size: 18px; 
      line-height: 18px; 
      text-align: center;
    }
  }

  .button {
    padding: 1.3rem 0;

    border: 3px solid $laranja-200;

    font-size: 25px;
    line-height: 35px;
    letter-spacing: 2px;
    color: $branco;
    background-color: $laranja-200;

    text-decoration: none;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: $branco;
      box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
      transform: translate(0px, -10px) scale(1.05);
    }
  }

  > .skyline-wrapper {
    text-align: center;

    > .skyline {
      height: 180px;
      width: auto;
      
      position: absolute;
      left: 50% !important;
      bottom: 0;
      
      transform: translate(-50%, 0);
      z-index: 1;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  section.home {
    .title {
      padding: .25em .5em;
    }

    .time-wrapper {
      padding: 0;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  section.home {
    .title {
      padding: 1em .5em;
    }

    .time-wrapper {
      padding: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  section.home {
    .wrapper {
      margin-top: -3em;
    }

    .logo {
      height: 95px;
    }

    .title {
      font-size: 35px;
      line-height: 35px;
      letter-spacing: 2px;
    }

    .date-location {
      font-family: $font-family-body;
      font-size: 18px;
    }

    .time {
      margin: 0 3em;
    }

    .time-wrapper {
      padding: 0;
    }

    .tickets {
      margin: 1em 2em 2em;
    }

    .button-outline {
      padding: .5rem 0;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  section.home {
    > .skyline-wrapper {
      > .skyline {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.home {
    padding-top: 7rem;

    > .logo {
      width: auto;
      height: 150px;
    }

    > .title {
      padding: 2rem 0;
      font-size: 50px;
      line-height: 60px;
    }

    > .button-outline {
      font-size: 44px;
    }
  }
}