@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');

@font-face {
  font-family: 'Almaq Refined', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: font-url('AlmaqRefined.otf') format('otf');
}