@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');

@font-face {
  font-family: 'Almaq Refined';
  font-style: normal;
  font-weight: normal;
  src: font-url('Almaq-Refined.woff') format('woff');
}