<footer>
  <section class="ticket">
    <div class="lot">
      <span class="title">
        pré-venda
      </span>
  
      <span class="bullet">&bullet;</span>
  
      <span class="price">
        R$ 650,00
      </span>
    </div>
  
    <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" class="button-outline" target="_blank">
      comprar ingresso
    </a>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 event">
        <div class="title">
          O EVENTO
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="/">Edição São Paulo</a>
          </li>

          <li class="list-item">
            <a href="#" title="Em breve">Programação</a>
          </li>

          <li class="list-item">
            <a href="#" title="Em breve">Perguntas Frequentes</a>
          </li>

          <li class="list-item">
            <a href="/reembolso-e-transferencias" title="Em breve">Reembolso e Transferências</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-3 alimente">
        <div class="title">
          O ALIMENTE
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="/sobre">Sobre o Projeto</a>
          </li>

          <li class="list-item">
            <a href="#" title="Em breve">Nossa equipe</a>
          </li>

          <li class="list-item">
            <a href="/sobre">Trabalhe conosco</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-6 copyright">
        <div class="title">
          FORMAS DE PAGAMENTO
        </div>

        <div class="payment">
          Cartões de crédito, débito e boleto.
        </div>

        <div class="typo">
          <span>Desenvolvido com</span>
          <%= fa_icon "heart-o" %>
          <span>pela</span>
          
          <a href="http://typo.digital" target="_blank">
            <%= image_tag "typo.png", height: '23px' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>