<footer>
  <section class="ticket">
    <div class="lot">
      <span class="title">
        pré-venda
      </span>
  
      <span class="bullet">&bullet;</span>
  
      <span class="price">
        R$ 650,00
      </span>
    </div>
  
    <a href="#" class="button-outline">
      comprar ingresso
    </a>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 event">
        <div class="title">
          O EVENTO
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="#">Sobre o evento</a>
          </li>

          <li class="list-item">
            <a href="#">Programação</a>
          </li>

          <li class="list-item">
            <a href="#">Perguntas frequentes</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-3 alimente">
        <div class="title">
          ALIMENTE
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="#">Sobre o Alimente</a>
          </li>

          <li class="list-item">
            <a href="#">Nossa equipe</a>
          </li>

          <li class="list-item">
            <a href="#">Trabalhe conosco</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-6 copyright">
        <div class="title">
          FORMAS DE PAGAMENTO
        </div>

        <div class="payment">
          Cartões de crédito, débito e boleto.
        </div>

        <div class="typo">
          <span>Desenvolvido com</span>
          <%= fa_icon "heart-o" %>
          <span>pela</span>
          
          <a href="http://typo.digital" target="_blank">
            <%= image_tag "typo.png", height: '23px' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>