<footer>
  <!-- <section class="ticket">
    <div class="lot">
      <span class="title">
        pré-venda
      </span>
  
      <span class="bullet">&bullet;</span>
  
      <span class="price">
        R$ 650,00
      </span>
    </div>
  
    <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" class="button-outline" target="_blank">
      comprar ingresso
    </a>
  </section> -->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 event">
        <div class="title">
          O EVENTO
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="/">Edição São Paulo</a>
          </li>

          <li class="list-item">
            <a href="#" title="Em breve">Programação</a>
          </li>

          <li class="list-item">
            <a href="/perguntas-frequentes">Perguntas Frequentes</a>
          </li>

          <li class="list-item">
            <a href="/reembolso-e-transferencias">Reembolso e Transferências</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-4 alimente">
        <div class="title">
          O ALIMENTE
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="/sobre">Sobre o Projeto</a>
          </li>

          <li class="list-item">
            <a href="#" title="Em breve">Nossa equipe</a>
          </li>

          <li class="list-item">
            <a href="/sobre">Trabalhe conosco</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-4 copyright">
        <div class="title">
          PAGAMENTO
        </div>

        <div class="payment">
          Cartões de crédito, débito e boleto.
        </div>
      </div>
    </div>
  </div>
</footer>