<!DOCTYPE html>
<html>
  <head>
    <title>1ยบ Congresso Internacional Low Carb - ALIMENTE</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      html {
        height: 100%;
      }
      
      body {
        margin: 0;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
